--
-- PostgreSQL database dump
--

\restrict tMlMobmjeCEkOW6Le8FnykJUe6E7u90J0rhUxKzZb7ipTaEiTgmIGcUtmfiqYhi

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Certificates; Type: TABLE; Schema: public; Owner: elearning2user
--

CREATE TABLE public."Certificates" (
    "Id" uuid NOT NULL,
    "StudentId" uuid,
    "Title" text NOT NULL,
    "Description" text NOT NULL,
    "StudentId1" uuid
);


ALTER TABLE public."Certificates" OWNER TO elearning2user;

--
-- Name: Courses; Type: TABLE; Schema: public; Owner: elearning2user
--

CREATE TABLE public."Courses" (
    "Id" uuid NOT NULL,
    "Title" text NOT NULL,
    "Description" text,
    "CreatedAt" timestamp with time zone NOT NULL,
    "TeacherId" uuid NOT NULL
);


ALTER TABLE public."Courses" OWNER TO elearning2user;

--
-- Name: Enrollments; Type: TABLE; Schema: public; Owner: elearning2user
--

CREATE TABLE public."Enrollments" (
    "Id" uuid NOT NULL,
    "StudentId" uuid NOT NULL,
    "CourseId" uuid NOT NULL,
    "EnrolledAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."Enrollments" OWNER TO elearning2user;

--
-- Name: Lessons; Type: TABLE; Schema: public; Owner: elearning2user
--

CREATE TABLE public."Lessons" (
    "Id" uuid NOT NULL,
    "CourseId" uuid NOT NULL,
    "Title" text NOT NULL,
    "Content" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."Lessons" OWNER TO elearning2user;

--
-- Name: Students; Type: TABLE; Schema: public; Owner: elearning2user
--

CREATE TABLE public."Students" (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "FullName" text NOT NULL,
    "Bio" text,
    "AvatarUrl" text
);


ALTER TABLE public."Students" OWNER TO elearning2user;

--
-- Name: Users; Type: TABLE; Schema: public; Owner: elearning2user
--

CREATE TABLE public."Users" (
    "Id" uuid NOT NULL,
    "Username" text NOT NULL,
    "Email" text NOT NULL,
    "PasswordHash" text NOT NULL,
    "Role" text NOT NULL,
    "RefreshToken" text,
    "RefreshTokenExpiresAt" timestamp with time zone,
    "RefreshTokenRevokedAt" timestamp with time zone,
    "CurrentJwtId" text
);


ALTER TABLE public."Users" OWNER TO elearning2user;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: elearning2user
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO elearning2user;

--
-- Data for Name: Certificates; Type: TABLE DATA; Schema: public; Owner: elearning2user
--

COPY public."Certificates" ("Id", "StudentId", "Title", "Description", "StudentId1") FROM stdin;
\.


--
-- Data for Name: Courses; Type: TABLE DATA; Schema: public; Owner: elearning2user
--

COPY public."Courses" ("Id", "Title", "Description", "CreatedAt", "TeacherId") FROM stdin;
1e20a7d2-58d8-49e3-a637-3eb00178c16f	Cybersecurity	hacking ethically	2025-11-24 05:55:00+00	019aa3c2-c480-7a3d-a562-15008c505312
\.


--
-- Data for Name: Enrollments; Type: TABLE DATA; Schema: public; Owner: elearning2user
--

COPY public."Enrollments" ("Id", "StudentId", "CourseId", "EnrolledAt") FROM stdin;
\.


--
-- Data for Name: Lessons; Type: TABLE DATA; Schema: public; Owner: elearning2user
--

COPY public."Lessons" ("Id", "CourseId", "Title", "Content", "CreatedAt") FROM stdin;
8bdc7afd-1481-4554-81ce-abdf728a8d22	1e20a7d2-58d8-49e3-a637-3eb00178c16f	OSINT and NMAP	NMAP, and other tools like nikto	2025-11-26 06:25:36.068195+00
\.


--
-- Data for Name: Students; Type: TABLE DATA; Schema: public; Owner: elearning2user
--

COPY public."Students" ("Id", "UserId", "FullName", "Bio", "AvatarUrl") FROM stdin;
1e20a7d2-58d8-49e3-a637-3eb00179d26c	019aa380-c0bb-7f91-9caf-df4231fa723c	John	bruhy	\N
\.


--
-- Data for Name: Users; Type: TABLE DATA; Schema: public; Owner: elearning2user
--



--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: elearning2user
--



--
-- Name: Certificates PK_Certificates; Type: CONSTRAINT; Schema: public; Owner: elearning2user
--

ALTER TABLE ONLY public."Certificates"
    ADD CONSTRAINT "PK_Certificates" PRIMARY KEY ("Id");


--
-- Name: Courses PK_Courses; Type: CONSTRAINT; Schema: public; Owner: elearning2user
--

ALTER TABLE ONLY public."Courses"
    ADD CONSTRAINT "PK_Courses" PRIMARY KEY ("Id");


--
-- Name: Enrollments PK_Enrollments; Type: CONSTRAINT; Schema: public; Owner: elearning2user
--

ALTER TABLE ONLY public."Enrollments"
    ADD CONSTRAINT "PK_Enrollments" PRIMARY KEY ("Id");


--
-- Name: Lessons PK_Lessons; Type: CONSTRAINT; Schema: public; Owner: elearning2user
--

ALTER TABLE ONLY public."Lessons"
    ADD CONSTRAINT "PK_Lessons" PRIMARY KEY ("Id");


--
-- Name: Students PK_Students; Type: CONSTRAINT; Schema: public; Owner: elearning2user
--

ALTER TABLE ONLY public."Students"
    ADD CONSTRAINT "PK_Students" PRIMARY KEY ("Id");


--
-- Name: Users PK_Users; Type: CONSTRAINT; Schema: public; Owner: elearning2user
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "PK_Users" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: elearning2user
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: IX_Certificates_StudentId; Type: INDEX; Schema: public; Owner: elearning2user
--

CREATE UNIQUE INDEX "IX_Certificates_StudentId" ON public."Certificates" USING btree ("StudentId");


--
-- Name: IX_Certificates_StudentId1; Type: INDEX; Schema: public; Owner: elearning2user
--

CREATE INDEX "IX_Certificates_StudentId1" ON public."Certificates" USING btree ("StudentId1");


--
-- Name: IX_Courses_TeacherId; Type: INDEX; Schema: public; Owner: elearning2user
--

CREATE INDEX "IX_Courses_TeacherId" ON public."Courses" USING btree ("TeacherId");


--
-- Name: IX_Enrollments_CourseId; Type: INDEX; Schema: public; Owner: elearning2user
--

CREATE INDEX "IX_Enrollments_CourseId" ON public."Enrollments" USING btree ("CourseId");


--
-- Name: IX_Enrollments_StudentId; Type: INDEX; Schema: public; Owner: elearning2user
--

CREATE INDEX "IX_Enrollments_StudentId" ON public."Enrollments" USING btree ("StudentId");


--
-- Name: IX_Lessons_CourseId; Type: INDEX; Schema: public; Owner: elearning2user
--

CREATE INDEX "IX_Lessons_CourseId" ON public."Lessons" USING btree ("CourseId");


--
-- Name: IX_Students_UserId; Type: INDEX; Schema: public; Owner: elearning2user
--

CREATE UNIQUE INDEX "IX_Students_UserId" ON public."Students" USING btree ("UserId");


--
-- Name: Certificates FK_Certificates_Students_StudentId; Type: FK CONSTRAINT; Schema: public; Owner: elearning2user
--

ALTER TABLE ONLY public."Certificates"
    ADD CONSTRAINT "FK_Certificates_Students_StudentId" FOREIGN KEY ("StudentId") REFERENCES public."Students"("Id");


--
-- Name: Certificates FK_Certificates_Students_StudentId1; Type: FK CONSTRAINT; Schema: public; Owner: elearning2user
--

ALTER TABLE ONLY public."Certificates"
    ADD CONSTRAINT "FK_Certificates_Students_StudentId1" FOREIGN KEY ("StudentId1") REFERENCES public."Students"("Id");


--
-- Name: Courses FK_Courses_Users_TeacherId; Type: FK CONSTRAINT; Schema: public; Owner: elearning2user
--

ALTER TABLE ONLY public."Courses"
    ADD CONSTRAINT "FK_Courses_Users_TeacherId" FOREIGN KEY ("TeacherId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: Enrollments FK_Enrollments_Courses_CourseId; Type: FK CONSTRAINT; Schema: public; Owner: elearning2user
--

ALTER TABLE ONLY public."Enrollments"
    ADD CONSTRAINT "FK_Enrollments_Courses_CourseId" FOREIGN KEY ("CourseId") REFERENCES public."Courses"("Id") ON DELETE CASCADE;


--
-- Name: Enrollments FK_Enrollments_Students_StudentId; Type: FK CONSTRAINT; Schema: public; Owner: elearning2user
--

ALTER TABLE ONLY public."Enrollments"
    ADD CONSTRAINT "FK_Enrollments_Students_StudentId" FOREIGN KEY ("StudentId") REFERENCES public."Students"("Id") ON DELETE CASCADE;


--
-- Name: Lessons FK_Lessons_Courses_CourseId; Type: FK CONSTRAINT; Schema: public; Owner: elearning2user
--

ALTER TABLE ONLY public."Lessons"
    ADD CONSTRAINT "FK_Lessons_Courses_CourseId" FOREIGN KEY ("CourseId") REFERENCES public."Courses"("Id") ON DELETE CASCADE;


--
-- Name: Students FK_Students_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: elearning2user
--

ALTER TABLE ONLY public."Students"
    ADD CONSTRAINT "FK_Students_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict tMlMobmjeCEkOW6Le8FnykJUe6E7u90J0rhUxKzZb7ipTaEiTgmIGcUtmfiqYhi

